{% extends "base.html" %}
{% block title %}{{ user.name }}'s Watchlist{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/games.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <p>{{ game_details|length }} Titles</p>
    <ul class="game-list">
        {% for name, released in game_details %}  
        <li>{{ name }}
            <span class="float-right">
                {{ released }}
            </span>
        </li>  
        {% endfor %} 
    </ul>
{% endblock %}