{% extends "base.html" %}
{% block title %}{{ user.name }}'s Watchlist{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/movies.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
        {% for movie in movies %}  
        <li>{{ movie.title }} - {{ movie.year }}</a>
            <span class="float-right">
                <a class="imdb btn" href="https://www.imdb.com/search/title/?title={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
                <form method="post" style="display:inline;">
                    <button class="btn edit" type="submit" name="edit">Edit</button>
                </form>
                <form method="post" style="display:inline;">
                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                    <button class="btn delete" type="submit" name="delete">X</button>
                </form>
            </span> 
        </li> 
        {% endfor %} 
    </ul>
    <p>{{ movies|length }} Titles</p>
    <form method="post">
        Name <input type="text" name="title" autocomplete="off" required> 
        Year <input type="text" name="year" autocomplete="off" required> 
        <button class="btn" type="submit" name="submit">Add</button>
    </form>
{% endblock %}