<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    <h2>{{ user.name }}'s Lists</h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('settings') }}">Settings</a></li>
            {% endif %}
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('movies.movies') }}">Movies</a></li>
            <li><a href="{{ url_for('games') }}">Games</a></li>
        </ul>
    </nav>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message|safe }}</div>
    {% endfor %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer" class="footer">
        {% block footer %}
        &copy; Copyright 2024 by {{ current_user.name }}
        {% endblock %}
    </div>
</body>
</html>