{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/movies.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <p>{{ movies|length }} Titles</p>
    {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('.add_movie') }}">
            {{ add_movie_form.hidden_tag() }}
            {{ add_movie_form.title.label }} {{ add_movie_form.title(size=20) }}
            {{ add_movie_form.year.label }} {{ add_movie_form.year(size=6) }}
            <div class="submit-container">
                {{ add_movie_form.submit() }}
            </div>
        </form>
    {% endif %}
    <ul class="movie-list">
        {% for movie in movies %}  
        <li>{{ movie.title }} - {{ movie.year }}
            <span class="float-right">
                <a class="imdb" href="https://www.imdb.com/search/title/?title={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
                {% if current_user.is_authenticated %}
                    <form method="GET" style="display:inline;" action="{{ url_for('.edit', movie_id=movie.id )}}">
                        <button class="btn edit" type="submit">Edit</button>
                    </form>
                    <form method="POST" style="display:inline;" action="{{ url_for('.delete_movie', movie_id=movie.id) }}">
                        <div class="delete-button-container">
                            {{ delete_movie_form.hidden_tag() }}
                            {{ delete_movie_form.movie_id(value=movie.id) }}
                            {{ delete_movie_form.submit() }}
                        </div>
                    </form>
                {% endif %}
            </span> 
        </li> 
        {% endfor %} 
    </ul>
{% endblock %}